<div class="graphiclottie__player{{#if _showPauseControl}} js-graphiclottie-play-pause{{/if}}">
  {{#if _isAnimation}}
  <canvas></canvas>
  <div class="graphiclottie__controls">
    {{#if _showPauseControl}}
    <button class="graphiclottie__playpause icon" type="button" aria-label="Pause"></button>
    {{/if}}
    {{#if _showRewindControl}}
    <button class="graphiclottie__rewind icon" type="button" aria-label="Rewind"></button>
    {{/if}}
  </div>
  {{else}}
    <img src="{{_src}}">
  {{/if}}
</div>
